@tailwind base;
@tailwind components;
@tailwind utilities;

.data-row > .data-row-actions {
  visibility: hidden;
}

.data-row:hover > .data-row-actions {
  visibility: visible;
}

pre {
	background: #183055;
	color: #E6ECF3;
}
